.vs/ProjectSettings.json
.vs/rwa25-ip-Jbiro23/CopilotIndices/17.13.439.2385/CodeChunks.db
.vs/rwa25-ip-Jbiro23/CopilotIndices/17.13.439.2385/SemanticSymbols.db
.vs/rwa25-ip-Jbiro23/FileContentIndex/db8361f7-5b43-432d-9069-5ff659068571.vsidx
.vs/rwa25-ip-Jbiro23/v17/.wsuo
.vs/rwa25-ip-Jbiro23/v17/DocumentLayout.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
